#navbarNav{
    z-index: 99999;
}


#navbarNav ul li:hover  a{
    color: white;
    
   

}

.navbar{
    z-index: 99999;

}

#outlet{
    height:95vh;
    width: 100vw;
    background-color: red;
}


